.input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    height: 25px;
    margin: 15px 0;
    background-color: inherit;
    color: inherit;

    &:focus {
        outline:none;
        border-color: green;
    }
}

.input_type_error {
    border-bottom: 1px solid red;
}