.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  width: 700px;
  border: 1px solid gainsboro;
  height: 600px;
  margin: 0 auto;
}

.test {
  color: #e71971;
  font-size: 24px;
  font-weight: bold;
}