.button {
  border: none;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s;
}