.form__wrapper {
  width: 100%;
}

.form {
  width: 100%
}

.form__header {
  margin-top: 80px;
  text-align: center;
}

.form__body {
  margin-top: 31px;
  margin-bottom: 100px;
  text-align: center;
}

.form__footer {
  margin-bottom: 50px;
  text-align: center;
  color: inherit;
}