.textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    min-height: 80px;
    margin: 15px 0;

    &:focus {
        outline:none;
        border-color: green;
    }
}

.textarea_type_error {
    border-bottom: 1px solid red;
}