.profile {
  display: flex;
  align-items: center;
  padding: 50px;
}

.profile__formWrapper {
  height: auto;
  position: static;
  padding-bottom: 25px;
}

.profile__avatarInput {
  display: none;
}

.profile__avatarImage {
  width: 300px;
  cursor: pointer;
}