.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.item {
  margin-right: 28px;
}

.link {
  color: inherit;
  text-decoration: none;
}
