.leaderboard {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__table {
    width: 300px;
    border-collapse: collapse;
  }

  &__cell {
    border-bottom: 1px solid grey;
    text-align: left;
    padding: 10px;

    &_textRight {
      text-align: right;
    }
  }
}