.header {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid red;
}

.link {
  color: inherit;
  text-decoration: none;
}